/* BgProfile.css v1.0 */
.bg-profile-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid blue; /* This will help visualize the header's boundary */
  }
  
  .profile-image {
    width: 800px;
    height: auto;
    border-radius: 10px;
  }
  